doctype html
html
  head
    title= Batman
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/typo.css')
    link(rel='stylesheet', href='/stylesheets/archives.css')
  body
    block content